.wrapper{
    width: 1050px;
    margin: 10px;
    display: flex;
    font-family: "Arial";
}
.header{
    width: 1000px;
    height: 30px;
    padding: 10px;
}

.header__select {
    width: 200px;
    height: 30px;
    padding-left: 4px;
    border: 1px solid cadetblue;
    font-size: 12pt;
    border-radius: 5px;
    color: #304e61;
}
.outputTable{
    width: 500px;
    padding: 6px;
    border-collapse: collapse;
    border: 1px solid cadetblue;
    background: white;
}

.control{
    margin: 10px;
    width: 500px;
    display: inline-block;
}

th{
    border: 1px solid cadetblue;
}

.outputTable__head{
    background: azure;
    color: cadetblue;
    height: 30px;
}
.outputTable__field{
    height: 28px;
    color: #44768b;
    font-size: 12pt;
}

.enterField{
    display: flex;
    flex-direction: column;
    font-size: 10pt;
}

.enterField input{
    width: 100%;
    height: 30px;
    margin: 4px 0;
    padding-left: 4px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid cadetblue;
    color: #304e61;
}

.enterField label{
    font-size: 10pt;
    margin: 0px 0px 2px 8px;
    color: cadetblue;
}

.enterField__btn{
    width: 22.5%;
    height: 40px;
    margin:4px;
    border-radius: 5px;
    border: 1px solid transparent;
    flex-grow: 1;
    cursor: pointer;
    font-size: 12pt;
    color: #304e61;
    background: #98a6a6;
}

.buttonBlock {
    width: 100%;
    padding: 10px;
    display: flex;

}